@font-face {
   font-family: myFirstFont;
   src: url(fonts/Foglihten-068.otf);
}


body{
	font-family: myFirstFont;
	background-color: #acb8b4;
	padding-top: 0;
	margin-top: 0;
	height: 
}
main{

	overflow: hidden;
	background-color: white;
	display:block;
	margin: auto;
	width: 80%;

}


header{
	display: flex;
	margin-top: 2%;
	height: 150px;
}

header img {
	display:block;
	margin: auto;
	height: 100%;
}



nav {
	font-size: 25px;
	height: 50px;
	text-align: left;
	background-color: #d24430;
}

ul {

	height: 100%;
	padding:1%;
    list-style-type: none;

}

nav ul li {

	display: inline;
}
nav ul li a {
	color:white;
	margin: 2%;
	padding-top: 0;
	text-decoration: none;
}



article{
	float:left;
	text-align: justify-all;
	margin-top:5px;
	padding: 20px;
	font-size: 20px;

}

#News{

	width: 65%;
	float:left;
}

#News section{
	margin-right: 15px;
	float:left;
}
#News h1{
	margin-top: 0;
	padding: 10px 0px;

}
#News p{
	width: 100%;
	margin-right: 50px;
}

#News p a{

	text-align: center;
	font-size: 18px;
	text-decoration: none
}

#News img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}


#Announcements{
	margin-left: 10px;
	width: 25%;
	float: left;
}

#Announcements h3{
	color: white;
	margin-top: 0;
	padding: 10px 20px;
	background-color: #f27e41;
}

#Announcements p{
	padding: 10px;
}
footer{
	color:white;
	height: 50px;
	background-color: #d24430;
	width: 100%;
	float:left;
	display: inline;
}
#gmail{
	padding-left: 10px;
	height: 100%;
	float: left;
	width: 40%;
	
}

#Copyright{
	text-align: right;
	width: 50%;
	float:left;	
	height: 100%;
}

h4 {text-decoration: underline;}

tr td {
	border-style: solid;
	border-width: 2px;
	padding: 0px 100px;
}