body{
	margin: auto;
    width: 58%;
    padding: 10px;
    background-color: #1d1d1d;
}


input{
	color:white;
	text-align: right;
	width: 765px;
	height: 78px;
	border:none;
	font-size: 100px;
	padding-bottom: 20px;
	padding-right: 20px;
	background-color: #2e2e2e;
	

	
}
section{
	color: #1e395b;
	width: 800px;
}

input:nth-child(1) {
	color:#ababab;
    font-size: 40px;
}


button{
	color:#b2b2b2;
	border:none;
	background-color: #3f3f3f;
	font-size: 20px;
	margin:2px;
	width: 150px;
	height: 74px;
	margin-bottom: 10px;
	font-size: 50px;
}
article{
	margin-top: 10px;
}
button:nth-child(28){
	background-color: #458500;
}
button:nth-child(26) {
    width: 308px;
}

button:hover{
	background-color: #585858;
}
button:nth-child(28):hover {
   background-color: #5d9521;
}