body{
	background-color: orange;
}

section{
		
    	margin: auto;
		text-align: center;
		width:50%;
 		}

p{width: 10%;}


article{
	background-color: white;
	margin:0;
	width:100%;
     	}
input{
	width:20%;
	height: 30px;
	margin:10px;
	margin-top: 20px;
	float:left;}

button{
	width: 20%;
	height: 40px;
	margin-top: 15px;
}

article, p{
	padding:10px;
	float:left;}

table{
	width: 100%;
	table-layout: fixed;
	}
td{
	height:50px;
}

